<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Become an administrator</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Hello <%= currentUser.first_name %></h1>
    <p>Enter the secret pass code to become an administrator</p>
    <% if(errors){ %> <%- include('errors', { errors }) %> <% }%>
    <form action="/users/join-staff/<%= currentUser.id %>" method="POST">
      <h2>Join the staff now!</h2>
      <input type="text" name="adminPassCode" id="adminPassCode" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
