<footer>
  <p>
    Crafted with care by
    <a
      href="https://github.com/odilson-dev"
      target="_blank"
      rel="noopener noreferrer"
      >@odilson-dev</a
    >
  </p>
  <p>&copy; 2024 All rights reserved</p>
</footer>
