<header>
  <h1>
    Members Only<a
      href="https://github.com/odilson-dev/calculator"
      target="_blank"
      ><i id="github-icon" class="fa-brands fa-github"></i
    ></a>
  </h1>
  <div class="account-status-box">
    <% if(currentUser){ %>
    <div class="account-status">
      <% if (currentUser.admin){ %> <%= "Admin" %> <% } else if
      (currentUser.membership_status){ %> <%= "member" %> <% } else{ %> <%=
      "Basic" %> <% } %> Account
    </div>

    <% } %>
  </div>
</header>
