<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join the club</title>
  </head>
  <body>
    <h1>Hello Jon</h1>
    <p>Enter the secret pass code to join the club</p>
    <form action="/users/join-the-club/<%= currentUser.id %>" method="POST">
      <h2>Join the club now!</h2>
      <input type="text" name="passCode" id="passCode" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
