<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log in</title>
  </head>
  <body>
    <h1>Please log in</h1>
    <% if(errors){ %> <%- include('errors', { errors }) %> <% }%>
    <form action="/log-in" method="POST">
      <label for="email">Email</label>
      <input id="email" name="email" placeholder="email" type="text" />
      <label for="password">Password</label>
      <input id="password" name="password" type="password" />
      <button>Log In</button>
    </form>
  </body>
</html>
