<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log in</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('header') %>
    <div class="box-form">
      <h1>Log in</h1>
      <% if(errors){ %> <%- include('errors', { errors }) %> <% }%>
      <form action="/log-in" method="POST">
        <div class="field">
          <label for="email">Email</label>
          <input
            id="email"
            name="email"
            placeholder="johndoe@example.com"
            type="text"
          />
        </div>
        <div class="field">
          <label for="password">Password</label>
          <input
            id="password"
            name="password"
            type="password"
            placeholder="Password"
          />
        </div>
        <p>You're new? <a href="/sign-up">Sign up</a></p>
        <button class="submit-btn" type="submit">Log In</button>
      </form>
    </div>
  </body>
</html>
