<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>New message</title>
  </head>
  <body>
    <header><h1>Members Only</h1></header>
    <h1>Create a new message</h1>
    <% if(errors){ %> <%- include('errors', { errors }) %> <% }%>
    <form action="/messages/new" method="POST">
      <input type="hidden" name="userId" value="<%= currentUser.id %>" />
      <div>
        <label for="title">Title:</label><br />
        <input type="text" name="title" id="title" placeholder="Your title" />
      </div>

      <div>
        <label for="content">Message:</label><br />
        <textarea name="content" id="content" cols="30" rows="10"></textarea>
      </div>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
